mixin manami-text-input-effect(id, i18next, type, model, element)
    - element = element || "input"
    - text = text || "text"
    span.input.input--manami(data-is-filled data-css-class-filled="input--filled" data-input-id=id)
        #{element}.input__field.input__field--manami(data-ng-model=model id=id name=id type=type)&attributes(attributes)
        label.input__label.input__label--manami(for=id)
            span.input__label-content.input__label-content--manami(data-ng-i18next=i18next)

section.l-section.l-section--contact
    header.l-section__header.l-section--contact__header
        .icon
            span.icon__content.ion-ios-email-outline
        h2(data-ng-i18next="view.contact.online")
        p.subtitle(data-ng-i18next="view.contact.start_link")
    section.l-section--contact__online
        form(name="contactForm")
            p
                +manami-text-input-effect("email_address", "view.contact.email_address", "email", "model.form.email_address")(required)
            p
                +manami-text-input-effect("subject", "view.contact.subject", "text", "model.form.subject")(required)
            p
                +manami-text-input-effect("message", "view.contact.message", "text", "model.form.message", "textarea")(data-autosize)
            p
                .g-recaptcha(data-sitekey="6LctehETAAAAAB58Df0sFmzbNOGW_4Z37_iOQCP4")
            p
                input.submit(data-ng-disabled="!contactForm.$valid" type="submit" value="Envoyer mon message")
